<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.sales.WithdrawMapper">

    <insert id="insertWithdrawInfo" parameterType="com.example.cinema.vo.withdrawInfoForm"
            useGeneratedKeys="true" keyProperty="id">
        insert into withdraw(withdraw_description, close_time, schedule_id, discount)
        values(#{withdrawDescription},#{closeTime},#{scheduleId},#{discount})
    </insert>

    <update id="updateWithdrawInfo" parameterType="com.example.cinema.vo.withdrawInfoForm"
            useGeneratedKeys="true" keyProperty="id">
        update withdraw set withdraw_description = #{withdrawDescription},close_time = #{closeTime},discount=#{discount}
        where schedule_id = #{scheduleId}
    </update>

    <select id="selectWithdrawInfoByScheduleId" resultMap="WithdrawInfo">
        select * from withdraw where schedule_id=#{scheduleId}
    </select>

    <select id="selectAllWithdrawInfo" resultMap="WithdrawInfo">
        select * from withdraw
    </select>

    <delete id="deleteWithdrawInfo">
        delete from withdraw where schedule_id=#{scheduleId}
    </delete>

    <delete id="cleanExpiredWithdrawInfo">
        delete from withdraw WHERE UNIX_TIMESTAMP(NOW())-UNIX_TIMESTAMP(close_time)>1800
    </delete>

    <resultMap id="WithdrawInfo" type="com.example.cinema.po.WithdrawInfo">
        <result column="schedule_id" property="scheduleId"></result>
        <result column="id" property="id"></result>
        <result column="withdraw_description" property="withdrawDescription"></result>
        <result column="close_time" property="closeTime"></result>
        <result column="discount" property="discount"></result>
    </resultMap>



</mapper>
