<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.VIPInfoMapper">
	<insert id="insertVIPInfo" parameterType="com.example.cinema.po.VIPInfo" useGeneratedKeys="true"
		keyProperty="id">insert into vip_info(description,price,name,extre_charge,minimum_charge) values(#{description},#{price},#{name},#{extraCharge},#{minimumCharge})</insert>
	<select id="selectALLVIPInfo" resultMap="VIPInfo">
		select * from vip_info
	</select>

	<select id="selectVIPInfoByName" resultMap="VIPInfo">
		select * from vip_info where card_name=#{name}
	</select>

	<select id="selectVIPInfoById" resultMap="VIPInfo">
		select * from vip_info where id=#{id}
	</select>
	
	<update id="updateVIPInfo" parameterType="com.example.cinema.po.VIPInfo">
		update vip_info set
		price=#{price} ,
		minimum_charge=#{minimumCharge},
		extra_Charge=#{extraCharge},
		description=#{description},
		card_name=#{name}
		where id=#{id}
	</update>

	<resultMap id="VIPInfo" type="com.example.cinema.po.VIPInfo">
		<id column="id" property="id"></id>
		<result column="description" property="description"></result>
		<result column="card_name" property="name"></result>
		<result column="price" property="price"></result>
		<result column="extra_Charge" property="extraCharge"></result>
		<result column="minimum_charge" property="minimumCharge"></result>
	</resultMap>

</mapper>