<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员卡管理</title>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminVIP.css"/>

    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminVIPInfoManage.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" class="active"><a href="/admin/vipInfo/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/withdrawInfo/manage"><i class="icon-ticket"></i> 退票管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">已发布会员卡</span>
            <button type="button" class="btn btn-primary" data-backdrop="static"
                    data-toggle="modal"
                    data-target="#vipInfoModal">
                <i class="icon-plus-sign"></i> 发布会员卡
            </button>
        </div>
        <ul class="vipInfo-list">
        </ul>
    </div>
</div>
<div class="modal fade" id="vipInfoModal" tabindex="-1" role="dialog" aria-labelledby="VIPInfoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vipInfoLabel">新增会员卡</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <param id="vipInfoId" name = 'id' value="0">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfo-name-input"><span class="error-text">*</span>会员卡名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="vipInfo-name-input" placeholder="请输入会员卡名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfo-description-input"><span class="error-text">*</span>会员卡信息</label>
                        <div class="col-sm-10">
                            <textarea row="3" class="form-control" id="vipInfo-description-input" placeholder="请输入会员卡信息"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfo-price-input"><span class="error-text">*</span>会员卡价格</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfo-price-input" placeholder="请输入会员卡价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfo-extraCharge-input"><span class="error-text">*</span>会员卡充值优惠价格</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfo-extraCharge-input" placeholder="请输入会员卡充值优惠价格"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfo-minimumCharge-input"><span class="error-text">*</span>会员卡充值优惠底价</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfo-minimumCharge-input" placeholder="请输入会员卡充值优惠底价">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="vipInfo-form-btn">确认</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="vipInfoUpdateModal" tabindex="-1" role="dialog" aria-labelledby="VIPInfoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vipInfoUpdateModalLabel">修改会员卡</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfoUpdate-name-input"><span class="error-text">*</span>会员卡名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="vipInfoUpdate-name-input" placeholder="请输入会员卡名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfoUpdate-description-input"><span class="error-text">*</span>会员卡信息</label>
                        <div class="col-sm-10">
                            <textarea row="3" class="form-control" id="vipInfoUpdate-description-input" placeholder="请输入会员卡信息"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfoUpdate-price-input"><span class="error-text">*</span>会员卡价格</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfoUpdate-price-input" placeholder="请输入会员卡价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfoUpdate-extraCharge-input"><span class="error-text">*</span>会员卡充值优惠价格</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfoUpdate-extraCharge-input" placeholder="请输入会员卡充值优惠价格"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="vipInfoUpdate-minimumCharge-input"><span class="error-text">*</span>会员卡充值优惠底价</label>
                        <div class="col-sm-10">
                            <input type="number" min="0" class="form-control" id="vipInfoUpdate-minimumCharge-input" placeholder="请输入会员卡充值优惠底价">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="vipInfoUpdate-form-btn">确认</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>