<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminStaffManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg"/>
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <!--
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            -->
            <li role="presentation"><a href="/admin/vipInfo/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation" class="active"><a href="/admin/staff/manage"><i class="icon-cogs"></i> 用户管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">用户管理</span>
        </div>
        <div class="card" style="margin:20px 0;padding:20px;">
            <div style="display: flex;justify-content: space-between">
                <div style="display: flex;justify-content: space-between;-webkit-align-items: center;">
                    <span>查询用户名：</span>
                    <input type="text" class="form-control" id="user-searchInfo-input"
                           style="display: inline-block;width: 80px;">
                    <!--
                    <select id="user-search-way" style="margin:20px;width: 80px;display: inline-block">
                        <option value="0">用户id</option>
                        <option value="1">用户名</option>
                    </select>
                    -->
                    <button id="getOneUser" class="btn btn-primary" style="margin-left: 20px">确认</button>
                </div>
                <div style="display: flex;justify-content: space-between;-webkit-align-items: center;">
                    <button id="add-user" class="btn btn-primary" data-toggle="modal" data-target="#userModal">新增用户</button>
                </div>
            </div>
        </div>
        <ul id="user-list">

        </ul>
    </div>
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userModalLabel" >新增用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-username-input"><span
                                class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-username-input" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-password-input"><span
                                class="error-text">*</span>用户密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="user-password-input" placeholder="请输入用户密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user-level-input"><span
                                class="error-text">*</span>用户权限</label>
                        <div class="col-sm-10">
                            <select id="user-level-input">
                                <option value="0">普通用户</option>
                                <option value="1">员工</option>
                                <option value="2">经理</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="add-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog" aria-labelledby="userUpdateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userUpdateModalLabel">修改用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="userUpdate-id-input"><span
                                class="error-text">*</span>用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userUpdate-id-input" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="userUpdate-password-input"><span
                                class="error-text">*</span>用户密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userUpdate-password-input"
                                   placeholder="请输入用户密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="userUpdate-level-input">用户权限</label>
                        <div class="col-sm-10">
                            <select id="userUpdate-level-input">
                                <option value="0">普通用户</option>
                                <option value="1">员工</option>
                                <option value="2">经理</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="modify-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>