<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li><a href="/user/Recharge">充值记录</a> </li>
                <li><a href="/user/consumption">消费记录</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="content-container">
        <div class="movie-contianer">
            <p class="title primary-text">热映电影</p>
            <ul class="movie-off-list card">
                <div class="panel-content">
                    <dl class="movie-list">
                    </dl>
                </div>
            </ul>
            <p class="title primary-text">即将上映</p>
            <ul class="movie-off-list card">
                <div class="panel-content">
                    <dl class="movie-list">
                    </dl>
                </div>
            </ul>
        </div>
        <div class="statistic-container">
            <p class="title error-text">票房统计</p>
            <div class="panel-content">
<!--                <ul class="ranking-wrapper ranking-box">-->
<!--                    <li class="ranking-item ranking-top ranking-index-1">-->
<!--                        <a href="/films/346559" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:346559}">-->
<!--                            <div class="ranking-top-left">-->
<!--                                <i class="ranking-top-icon"></i>-->
<!--                                <img class="ranking-img  default-img" src="https://p0.meituan.net/movie/71b21e814ccbe788fec9cdf9ce8e8c8775485.jpg@120w_80h_1e_1c">-->
<!--                            </div>-->
<!--                            <div class="ranking-top-right">-->
<!--                                <div class="ranking-top-right-main">-->
<!--                                     <span class="ranking-top-moive-name">黑衣人：全球追缉</span>-->
<!--                                    <p class="ranking-top-wish">-->
<!--                                        <span class="stonefont">.</span>万-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <p class="title error-text">最受欢迎</p>
            <ul class="top-expectation-list card">
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
                <div class="statistic-item">
                    <span>电影1</span>
                    <span class="error-text">99</span>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>