<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.record.ConsumptionMapper">
    <insert id="insertComsuptionInfor" parameterType="com.example.cinema.vo.ConsumptionVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into consumption(userId,balance, time,way)
        values(#{userId},#{balance},#{time},#{way})
    </insert>
    <select id="selectConsumptions" resultType="com.example.cinema.po.Consumption">
        select * from consumption where userId=#{userId}
    </select>
    <select id="selectConsumptionsByOrder" resultType="com.example.cinema.po.Consumption">
        select userId,sum(balance) as balance,time,way from consumption where sum(balance) group by userId > #{balance} order by balance;
    </select>
</mapper>