<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.record.RechargeMapper">
    <insert id="insertRechargeInfor" parameterType="com.example.cinema.vo.RechargeVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into recharge(userId, time,balance)
        values(#{userId},#{date},#{balance})
    </insert>
    <select id="selectRecharges" resultType="com.example.cinema.po.Recharge">
        select * from recharge where userId=#{userId}
    </select>
</mapper>